@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");

.nav-var {
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  font-family: "Nanum Gothic", sans-serif;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 600;
  font-size: 14px;
  z-index: 100;
  padding-bottom: 15px;
  transition: 0.5s;

  .column {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &:first-child {
      display: flex;
      width: 170px;
      margin-top: 3.5px;
      margin-left: 15%;
      margin-right: 190px;
      justify-content: flex-end;
      align-items: flex-start;
      height: 80px;
    }
    &:nth-child(2) {
      height: 85px;
      width: 580px;
      display: flex;
      justify-content: space-between;
      margin-right: 15%;
    }
    .item-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin-right: 7px;

      .item {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        margin-right: 5px;
        height: 40px;
        &:hover {
          div {
            font-weight: 600;
            transition: 0.2s;
            text-decoration: none;
          }
        }
      }
    }
    .login-join {
      color: rgba($color: white, $alpha: 0.8);
      .login-join--item {
        cursor: pointer;
        &:first-child {
          width: 42px;
        }
        &:last-child {
          width: 55px;
        }
      }
    }
  }
}

.span-in-link {
  color: white;
}

@keyframes upToDown {
  from {
    width: 80px;
  }
  to {
    width: 130px;
  }
}

.testtest {
  position: relative;

  .dropdown-container {
    position: absolute;
    top: 40px;

    .dropdownitems-container {
      display: flex;
      flex-direction: column;
      width: 0px;
      opacity: 0;
    }
  }

  &:hover {
    .dropdown-container {
      .dropdownitems-container {
        border-top: 1px solid white;
        background-color: rgba($color: #000000, $alpha: 0.7);
        line-height: 1.6;
        padding: 10px;
        width: 70px;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        animation-name: expandWidh;
        animation-duration: 0.3s;
        transition-duration: 0.3s;
        opacity: 1;
        span {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@keyframes expandWidh {
  from {
    width: 65px;
  }

  to {
    width: 70px;
  }
}

.item-container-container {
  display: flex;
}
.has-background {
  background-color: #04183a;
  transition: 0.5s;
  opacity: 0.5;
}
