.CeoGreeting {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .column {
    width: 100%;
  }

  .top {
    border-left: 6px solid rgba($color: #000000, $alpha: 0.6);
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.6);
    height: 45px;
    display: flex;
    align-items: flex-end;

    .row-korean {
      font-size: 30px;
      margin-left: 20px;
      font-weight: 500;
      color: black;
    }

    .row-english {
      margin-left: 7px;
      margin-bottom: 4px;
    }
  }

  .column {
    &:last-child {
      margin-top: 80px;
    }
  }
}
