.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    .molding-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .korean {
      font-size: 2.7rem;
      color: black;
      font-weight: 500;
      margin-left: 30px;
      margin-right: 7px;
      margin-bottom: 5px;
      z-index: 3;
    }

    .english {
      font-size: 1rem;
      color: rgba($color: #000000, $alpha: 0.6);
      margin-bottom: 10px;
      z-index: 3;
    }
  }

  .body {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    .title {
      width: 100%;
      border-bottom: 2px solid rgba($color: #000000, $alpha: 0.6);
      font-size: 2rem;
      font-weight: 500;
      color: black;
    }

    .info {
      width: 90%;
      display: flex;
      background-color: rgba($color: #000000, $alpha: 0.1);
      margin-top: 30px;
      padding-left: 20px;
      padding-top: 7px;
      padding-bottom: 7px;

      .column {
        .right {
          color: black;
        }

        &:first-child {
          margin-right: 80px;
        }
      }
    }

    .contents {
      width: 83%;
      margin-top: 90px;
      margin-bottom: 200px;
      p {
        line-height: 1.6;
      }
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .column {
        &:last-child {
          text-align: end;
        }
        i {
          color: rgba($color: #000000, $alpha: 0.4);
        }
        span {
          cursor: pointer;
          font-size: 1.7rem;
        }
      }

      button {
        margin-top: 50px;
        background-color: #34495e;
        color: white;
        border: 0;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.comments-container {
  margin-bottom: 150px;
}

.delete-button-container {
  width: 800px;
  text-align: right;
}
