.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .navvar-container {
    width: 100%;
    // position: absolute;
    position: fixed;
    top: 0;
    z-index: 3;
  }

  .blockchain-image-container {
    width: 100%;
    margin-bottom: 180px;
  }

  .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ceo-greeting {
      margin-bottom: 50px;

      width: 900px;
    }

    .IntroBlockCell {
      width: 900px;
    }

    .IntroPresident {
      margin-top: 270px;
      width: 900px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .funny-line__under-IntroPresident {
      width: 900px;
      margin-top: 50px;
    }

    .history {
      margin-top: 300px;
      padding-top: 50px;
      padding-bottom: 200px;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.05);
    }
    .vision {
      width: 900px;
      margin-top: 300px;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    //margin-bottom: 400px;

    .BlockCellToken {
      margin-top: 170px;
      width: 100%;
    }

    .partnership {
      width: 100%;
      margin-top: 300px;
      padding-top: 150px;
      padding-bottom: 400px;
      display: flex;
      justify-content: center;
      background-color: rgba($color: #000000, $alpha: 0.05);
    }
  }

  .copyright {
    width: 100%;
  }

  .top-button {
    position: fixed;
    bottom: 90px;
    right: 50px;
  }
}
