.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  .nav-var {
    position: fixed;
    top: 10px;
    z-index: 3;
    width: 100%;
  }

  .carousel {
    width: 100%;
  }

  .blue-var {
    width: 100%;
    margin-bottom: 130px;
  }

  .body {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ceo-greeting {
      margin-bottom: 50px;
      width: 100%;
    }

    .IntroBlockCell {
      width: 100%;
    }

    .IntroPresident {
      margin-top: 270px;
      width: 100%;
    }

    .funny-line__under-IntroPresident {
      width: 100%;
      margin-top: 50px;
    }

    .IntroCompany {
      margin-top: 77px;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .BlockCellToken {
      margin-top: 170px;
      width: 100%;
    }
  }
}
