.container {
  width: 100%;
  .container-body {
    width: 100%;
    height: 100vh;
  }

  .container-bottom {
    margin-top: 35px;
  }

  .nav-var {
    width: 100%;
    position: absolute;
    top: -26px;
    z-index: 3;
  }
}
