.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;

    .column {
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        color: rgba($color: #000000, $alpha: 0.8);
      }
      .under-line {
        visibility: hidden;
        width: 10px;
        height: 2px;
        background-color: #04183a;
        opacity: 0.1;
        transition: 0.5s;
      }

      &:hover {
        .under-line {
          visibility: visible;
          width: 130%;
          opacity: 1;
        }
      }
    }
  }
}
