.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .navvar-container {
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
  }

  .blockchainimage-container {
    width: 100%;
  }

  .summernote-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
