@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");

.nav-var {
  margin-top: 27px;
  color: white;
  width: 100%;
  display: flex;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 600;
  font-size: 14px;
  .column {
    &:first-child {
      width: 30%;
      display: flex;
      justify-content: flex-end;
    }
    &:nth-child(2) {
      width: 70%;
      display: flex;
      justify-content: center;
    }
    .item-container {
      display: flex;
      flex-direction: column;
      .item {
        margin-right: 16px;

        cursor: pointer;
        .menu {
          padding-bottom: 7px;
          visibility: hidden;
          display: none;
          opacity: 0;
          border-top: 1px solid white;
          border-bottom: 1px solid white;
          transition: visibility 0.5s, opacity 0.5s linear;

          width: 0px;
          .menu-item {
            margin-top: 7px;
          }
        }
        &:hover {
          .menu {
            visibility: visible;
            display: flex;
            flex-direction: column;
            opacity: 1;
            animation-name: upToDown;
            animation-duration: 0.4s;
            width: 130px;
          }
        }
      }
    }
    .login-join {
      margin-left: 40px;
      .login-join--item {
        cursor: pointer;
        &:first-child {
          margin-right: 5px;
        }
        &:last-child {
          margin-left: 5px;
        }
      }
    }
  }
}

@keyframes upToDown {
  from {
    width: 80px;
  }
  to {
    width: 130px;
  }
}
