.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    width: 80%;
    display: flex;
    align-items: flex-end;
    position: relative;
    .molding-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .korean-title {
      font-size: 2.7rem;
      margin-bottom: 4px;
      color: black;
      margin-left: 30px;
      z-index: 3;
    }
    .english-subtitle {
      font-size: 1rem;
      color: rgba($color: #000000, $alpha: 0.6);
      margin-left: 7px;
      margin-bottom: 8px;
      z-index: 3;
    }
  }

  .notice {
    border-top: 5px solid #112142;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.6);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    .notice-header {
      width: 100%;
      display: flex;
      align-items: center;
      // border-bottom: 2px solid rgba($color: #000000, $alpha: 0.6);
      padding-top: 10px;
      padding-bottom: 10px;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .num {
        width: 20%;
      }
      .title {
        width: 100%;
      }
      .created-at {
        width: 20%;
      }
      .views {
        width: 20%;
      }
    }

    .important-notice-container {
      width: 100%;
      border-bottom: 1.2px solid rgba($color: #000000, $alpha: 0.6);
      .important-item-container {
        width: 100%;
        border-bottom: 0.1px solid rgba($color: #000000, $alpha: 0.6);
        border-top: 1.2px solid rgba($color: #000000, $alpha: 0.6);
        background-color: rgba($color: #000000, $alpha: 0.08);
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .num {
          width: 20%;
        }
        .title {
          width: 100%;
          cursor: pointer;
          span {
            color: rgba($color: #000000, $alpha: 0.6);
          }
        }
        .created-at {
          width: 20%;
        }
        .views {
          width: 20%;
        }
      }
    }

    .normal-notice-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .normal-notice {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .normal-item-container {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 7px;
          padding-bottom: 7px;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .num {
            width: 20%;
          }
          .title {
            width: 100%;
            cursor: pointer;
            span {
              color: rgba($color: #000000, $alpha: 0.6);
            }
          }
          .created-at {
            width: 20%;
          }
          .views {
            width: 20%;
          }
        }
      }
    }
  }

  .bottom {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    button {
      background-color: #34495e;
      color: white;
      border: 0;
      border-radius: 3px;
    }
  }
}
