@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
@import "../../styles/index.scss";

.nav-var {
  margin-top: 27px;
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  font-family: "Nanum Gothic", sans-serif;
  align-items: flex-end;
  font-weight: 600;
  font-size: 14px;
  z-index: 100;
  background-color: rgba($color: #000000, $alpha: 0.4);
  padding-bottom: 15px;
  justify-content: center;
  position: relative;

  @media screen and (max-width: $break-point) {
    width: 100vw;
  }

  .column-outer {
    padding: 0px;
    width: 1007px;
    display: flex;
    justify-content: space-between;
    .blockcell-logo-container {
      position: relative;
      .link {
        position: absolute;
        bottom: 0;
      }
    }
  }

  .column {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &:first-child {
      width: 170px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      // margin-left: 15%;
      // margin-right: 130px;
      height: 80px;
      @media screen and (max-width: $break-point) {
        margin-left: 50px;
      }
    }
    &:nth-child(2) {
      width: 580px;
      display: flex;
      justify-content: space-between;
      // margin-right: 15%;
      @media screen and (max-width: $break-point) {
        display: none;
      }
    }
    &:nth-child(3) {
      display: none;
      margin-right: 50px;
      position: relative;

      i {
        cursor: pointer;
        font-size: 30px;
      }
      @media screen and (max-width: $break-point) {
        display: flex;
      }
    }
    .item-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .item {
        width: 90%;

        color: white;
        text-decoration: none;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        margin-right: 30px;
        height: 40px;
        &:hover {
          div {
            font-size: 15px;
            font-weight: 600;
            transition: 0.2s;
            text-decoration: none;
          }
        }
      }
    }
    .login-join {
      color: rgba($color: white, $alpha: 0.8);

      .login-join--item {
        cursor: pointer;
        &:first-child {
        }
        &:last-child {
        }
      }
    }
  }

  .hidden-menu-var {
    position: absolute;

    top: 100px;
    height: 60px;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.4);
    span {
      font-size: 15px;
      margin-right: 11px;
      margin-left: 11px;
      cursor: pointer;
      color: white;
    }
  }

  .visiable {
    display: flex;
  }
}

.span-in-link {
  color: white;
}

@keyframes upToDown {
  from {
    width: 80px;
  }
  to {
    width: 130px;
  }
}

.item-container-container {
  display: flex;
}
