.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .nav-var-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
  }

  .blockchain-image-container {
    width: 100%;
  }

  .navigator {
    width: 100%;
    margin-top: 30px;
  }

  .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contents {
      width: 1000px;
      margin-top: 100px;
    }

    .search-var {
      width: 100%;
      margin-top: 180px;
    }
  }
  .bottom {
    width: 100%;
  }
}
