.block-chain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .image {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 195px;
    color: white;
    .row {
      margin-bottom: 0px;

      .top {
        font-size: 20px;
      }
      .second-line {
        font-size: 60px;
      }
      .third-line {
        font-size: 15px;
      }
    }
  }
}
