.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .navvar-outer {
    width: 100%;
    position: relative;
    .nav-var-container {
      width: 100%;
      z-index: 3;
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  .blockchain-image-container {
    width: 100%;
  }

  .contents-container {
    width: 997px;
    margin-top: 150px;
    margin-bottom: 200px;
  }

  .copyright-container {
    width: 100%;
  }
}
