@import "../../styles/index.scss";

.copy-right {
  width: 100vw;
  height: 20vh;
  min-height: 1px;
  background-color: #04183a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba($color: white, $alpha: 0.6);
  @media screen and (max-width: $break-point) {
    padding-left: 20px;
    padding-right: 50px;
  }
  .container {
    min-height: 1px;
    .text-container {
      min-height: 1px;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
}
