.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    width: 80%;
    border-left: 7px solid rgba($color: #112142, $alpha: 1);
    border-bottom: 2px solid rgba($color: #112142, $alpha: 1);

    height: 40px;
    display: flex;
    align-items: flex-end;
    .column-title-in-korean {
      span {
        font-size: 2.7rem;
        color: black;
        font-weight: 500;
      }
      margin-left: 25px;
    }
    .column-title-in-eng {
      margin-left: 5px;
      span {
        font-size: 13px;
      }
    }
  }

  .body {
    width: 90%;
    margin-top: 100px;
  }
}
