.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1px;
  .header {
    width: 80%;
    height: 40px;
    display: flex;
    align-items: flex-end;
    position: relative;
    min-height: 1px;
    .molding-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .column-title-in-korean {
      margin-bottom: 4px;
      span {
        font-size: 2.7rem;
        color: black;
        font-weight: 500;
      }
      margin-left: 25px;
      z-index: 3;
    }
    .column-title-in-eng {
      margin-bottom: 7px;
      margin-left: 5px;
      z-index: 3;
      span {
        font-size: 13px;
      }
    }
  }

  .body {
    width: 90%;
    margin-top: 100px;
    min-height: 1px;
    img {
      min-height: 1px;
    }
  }
}
