.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: 45px;
    margin-bottom: 60px;
    position: relative;
    .molding-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .korean-title {
      margin-left: 30px;
      font-size: 30px;
      font-weight: 500;
      color: black;
      z-index: 3;
    }

    .english-subtitle {
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 4px;
      margin-left: 8px;
      z-index: 3;
    }
  }

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
    .column {
      width: 24%;
      .item {
        width: 100%;
        color: rgba(0, 0, 0, 0.5);

        .year {
          width: 100%;
          text-align: center;
          margin-bottom: 25px;

          &:not(:first-child) {
            margin-top: 25px;
          }
          span {
            color: rgba(0, 0, 0, 0.9);
            font-size: 18px;
            font-weight: 600;
          }
        }

        .small {
          padding-left: 10px;
        }
      }
    }
  }
}

.left-item {
  position: relative;
  left: 20px;
}
