.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .bottom {
    width: 900px;
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
    .column {
      width: 24%;

      .item {
        width: 232px;
        color: rgba(0, 0, 0, 0.5);

        .year {
          width: 100%;
          text-align: center;
          margin-bottom: 25px;

          &:not(:first-child) {
            margin-top: 25px;
          }
          span {
            color: rgba(0, 0, 0, 0.9);
            font-size: 18px;
            font-weight: 600;
          }
        }

        .small {
          padding-left: 10px;
        }
      }
    }
  }
}

// .left-item {
//   position: relative;
//   left: 20px;
// }
